<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cahaya Donasi - Tentang Kami</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/assets/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="/src/public/favicon.ico" alt="" width="44" height="44">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link fs-5" href="index.html">Beranda</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fs-5" href="donasi.html">Donasi</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active fs-5" aria-current="page" style="color: #0E8E4C; font-weight: 500;" href="about.html">Tentang Kami</a>
                  </li>
                </ul>
                <ul class="navbar-nav ms-auto gap-2">
                    <a href="login.html">
                        <li class="nav-item"><button class="btn btn-success me-md-2 fs-5" type="button">Masuk</button></li>
                    </a>
                    <a href="register.html">
                        <li class="nav-item"><button class="btn btn-light fs-5" type="button">Daftar</button></li>  
                    </a>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main id="mainId">
        <div class="container-fluid" style="background-color: #0E8E4C;">
            <div class="row">
                <div class="col-sm-8 my-5 px-5 text-start">
                  <h1 class="display-4 fw-bold">Cahaya Donasi</h1>
                  <p class="fs-5 align-bottom" style="text-align:justify">Cahaya Donasi adalah platform berbasis website sebagai penggalangan dana untuk membangun masjid. Website ini bertujuan agar dapat memudahkan para pengguna masjid untuk melakukan penggalangan dana dan melakukan donasi masjid dengan sistem yang transparan.</p>
                </div>
                <div class="col-sm-4 text-center my-5">
                    <img class="img-fluid rounded-circle" src="/src/public/logo.png" alt="logo">
                </div>
              </div>
        </div>
        <div class="container">
            <p class="fs-1 fw-bold text-center py-3">Kontak Kami</p>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card">
                        <img src="/foto" class="card-img-top" alt="foto">
                        <div class="card-body text-center">
                            <h5 class="card-title fs-4">Ahmad Dany Mirza</h5>
                            <p class="card-text my-1 fs-5">Universitas Brawijaya</p>
                            <p class="card-text text-muted fs-6">Jombang, Jawa Timur</p>
                            <a href="https://github.com/ahm4ddm">
                                <button class="btn btn-sm btn-success me-md-2 fs-7" type="button" style="padding: 11px;">Lebih lanjut</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="/foto" class="card-img-top" alt="foto">
                        <div class="card-body text-center">
                            <h5 class="card-title fs-4">Aryandi Syahputra</h5>
                            <p class="card-text my-1 fs-5">Universitas Gunadarma</p>
                            <p class="card-text text-muted fs-6">Utan Kayu Utara, Jakarta Timur</p>
                            <a href="https://github.com/AryandiS">
                                <button class="btn btn-sm btn-success me-md-2 fs-7" type="button" style="padding: 11px;">Lebih lanjut</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="/foto class="card-img-top" alt="foto">
                        <div class="card-body text-center">
                            <h5 class="card-title fs-4">Ida Bagus Gede Pala Asmara</h5>
                            <p class="card-text my-1 fs-5">Universitas Halu Oleo</p>
                            <p class="card-text text-muted fs-6">Kendari, Sulawesi Tenggara</p>
                            <a href="https://github.com/Asmara123">
                                <button class="btn btn-sm btn-success me-md-2 fs-7" type="button" style="padding: 11px;">Lebih lanjut</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="/foto" class="card-img-top" alt="foto">
                        <div class="card-body text-center">
                            <h5 class="card-title fs-4">Rosa Sansabila</h5>
                            <p class="card-text my-1 fs-5">Universitas Mataram</p>
                            <p class="card-text text-muted fs-6">Dompu, Nusa Tenggara Barat</p>
                            <a href="https://github.com/RosaSansabilaa">
                                <button class="btn btn-sm btn-success me-md-2 fs-7" type="button" style="padding: 11px;">Lebih lanjut</button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
</body>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</html>